<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">

</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='pwd')">
    </div>
    <div class="right">
        <div class="location">
            <strong>your current location::</strong>
            <span>password modify page</span>
        </div>
        <div class="providerAdd">
            <form id="pwdForm" th:action="@{/user/pwd}"  method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="oldPassword">old Password：</label>
                    <input type="password"  id="oldPassword" autofocus="autofocus" required/>
                    <span id="pwdText">*please input old password</span>
                </div>
                <div>
                    <label for="newPassword">new password：</label>
                    <input type="password"  id="newPassword" required/>
                    <span id="newPwdText">*please input new password</span>
                </div>
                <div>
                    <label for="reNewPassword">confirm：</label>
                    <input type="password"  name="password" id="reNewPassword" required/>
                    <span id="reNewPwdText" >*please confirm</span>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <input type="button" value="save" id="save"/>
                </div>
            </form>
        </div>
    </div>
</section>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" ></script>

<script type="text/javascript" th:inline="javascript">
    // 要使用thymeleaf行内表达式则上面需要使用：th:inline="javascript" 标识
    $(function () {

        var isCheck = false;
        //原密码失去焦点
        $("#oldPassword").blur(function () {
            var oldPassword = $(this).val().trim();
            if(!oldPassword) {
                $('#pwdText').css('color', 'red');
                isCheck = false;
                return ;
            }


            //theymeleaf行内表达式
            var url = [[@{/user/pwd/}]] + oldPassword;
            //异步判断密码是否正确
            $.ajax({
                url: url,
                dataType: 'json',
                method: 'GET',
                success: function (data) {
                    isCheck = data;
                    console.log(data)
                    data ? $("#pwdText").replaceWith("<span id='pwdText'>*correct</span>")
                        : $("#pwdText").replaceWith("<span id='pwdText' style='color: red'>*wrong</span>");
                },
                //no value came back
                error: function () {
                    $('#pwdText').html("error");
                    isCheck = false;
                }
            });
        });

        $("#save").click(function () {

            if(isCheck) {
                if($("#newPassword").val() && $("#reNewPassword").val()
                    && $("#newPassword").val() == $("#reNewPassword").val()) {
                    $("#pwdForm").submit();
                }else{
                    $("#reNewPwdText").replaceWith("<span id='reNewPwdText' style='color: red'>*保证和新密码一致</span>");
                }
            }

        });
    });
</script>

<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>