<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">

<!--head-->
<head lang="en" id="public_head" >
    <meta charset="UTF-8">
    <title>Bill management system</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<!--header-->
<header class="publicHeader" id="public_header">
    <h1>Bill management system</h1>

    <div class="publicHeaderR">
        <p><span>Hello！</span><span style="color: #fff21b"> [[${session.login_user.username}]]</span> , welcome ！</p>
        <a th:href="@{/logout}" href="../main/login.html">exit</a>
    </div>
</header>

<!--time-->
<section class="publicTime" id="public_time">
    <script>
        setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString();",1000);
    </script>
    <span id="time"></span>

</section>


<!--main-->
<section class="publicMian ">
    <div class="left" id="public_left">
        <h2 class="leftH2"><span class="span1"></span>funciton <span></span></h2>
        <nav>
            <ul class="list">
                <li th:id="${activeUri=='bill'?'active':''}"><a th:href="@{/bills}" >bill </a></li>
                <li th:id="${activeUri=='provider'?'active':''}"><a th:href="@{/providers}" >provider</a></li>
                <li th:id="${activeUri=='user'?'active':''}"><a th:href="@{/users}" href="../user/list.html">user </a></li>
                <li th:id="${activeUri=='pwd'?'active':''}"><a th:href="@{/user/pwd}" href="../main/password.html">edit password</a></li>
                <li><a th:href="@{/logout}" href="../main/login.html">log out</a></li>
            </ul>
        </nav>
    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<form method="post" id="deleteForm">
    <input type="hidden" name="_method" value="delete">
    <div class="remove" id="removeProv">
        <div class="removerChid">
            <h2>提示</h2>
            <div class="removeMain" >
                <p>你确定要删除吗？</p>
                <a href="#" id="yes">确定</a>
                <a href="#" id="no">取消</a>
            </div>
        </div>
    </div>
</form>


<footer class="footer" id="public_footer">
    <div style="text-align:center;">	<p><a href="http://www.ao.com/" target="_blank">Ao www.ao.com</a> @copy right</p></div>
</footer>


</body>
</html>