<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ao.billms.mapper.ProviderMapper">

<!--    getProviders-->
    <select id="getProviders" resultType="com.ao.billms.entities.Provider">
        SELECT * from provider where 1=1
        <if test="providerName !=null and providerName !='' ">
            and providerName like '%${providerName}%'
        </if>
    </select>
<!--    getProviderById-->
    <select id="getProviderById" resultType="com.ao.billms.entities.Provider">
        SELECT * from provider where pid=#{pid}
    </select>
<!--    addProvider-->
    <insert id="addProvider">
       INSERT INTO `provider` ( `provider_code`, `providerName`, `people`, `phone`, `address`, `fax`, `describe`, `create_date`)
       VALUES ( #{providerCode}, #{providerName}, #{people}, #{phone}, #{address}, #{fax},#{describe}, now())
    </insert>
<!--    updateProvider-->
    <update id="updateProvider">
        UPDATE `provider`
        SET  `provider_code`=#{providerCode}, `providerName`=#{providerName}, `people`=#{people},
         `phone`=#{phone}, `address`=#{address}, `fax`=#{fax},
         `describe`=#{describe}, `create_date`=now()
        WHERE `pid`=#{pid}
    </update>
<!--    deleteProviderById-->
    <delete id="deleteProviderById">
        DELETE from provider where pid=#{pid}

    </delete>

</mapper>