<!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head lang="en" th:replace="main/public :: #public_head">

        </head>
        <body>
        <!--头部-->
        <header class="publicHeader" th:replace="main/public :: #public_header">

        </header>
        <!--时间-->
        <section class="publicTime" th:replace="main/public :: #public_time">

        </section>
        <!--主体内容-->
        <section class="publicMian ">
            <div class="left" th:replace="main/public :: #public_left(activeUri='user')">
            </div>
        <div class="right">
            <div class="location">
                <strong>your current location:</strong>
                <span>user management page</span>
            </div>
            <form id="searchForm" th:action="@{/users}" th:method="get" >
            <div class="search">
                <span>username：</span>
                <input type="text" th:value="${username}" name="username" placeholder="please input username"/>
                <input type="button" value="query" onclick="$('#searchForm').submit()"/>
                <a th:href="@{/user}" >add user</a>
            </div>
            </form>

            <!--用户-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">user name</th>
                    <th width="20%">real name</th>
                    <th width="10%">gender</th>
                    <th width="10%">birthday</th>
                    <th width="10%">user type</th>
                    <th width="30%">operation</th>
                </tr>
                <tr th:each="u : ${users}">
                    <td th:text="${u.username}"></td>
                    <td th:text="${u.realName}"></td>
                    <!--性别：1 女  2 男-->
                    <td th:text="${u.gender == 1 ? 'female' : 'male'}"></td>
                    <td th:text="${#dates.format(u.birthday, 'yyyy-MM-dd')}">1989/10/10</td>
                    <!--1管理员  2经理  3普通用户-->
                    <td th:text="${u.userType==1 ? 'admin' : (u.userType==2 ? 'manager' : 'user') }"></td>
                    <td>
                        <a th:href="@{/user/} + ${u.id}" href="view.html"><img th:src="@{/img/read.png}" src="../img/read.png" alt="查看" title="view"/></a>
                        <a th:href="@{/user/} + ${u.id} +'?type=update'" href="update.html"><img th:src="@{/img/xiugai.png}"  src="../img/xiugai.png" alt="修改" title="edit"/></a>
                        <a th:attr="del_uri=@{/user/}+${u.id}"  href="#" class="delete" ><img th:src="@{/img/schu.png}"  src="../img/schu.png" alt="删除" title="delete"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </section>


	<!--点击删除按钮后弹出的页面-->
	<div class="zhezhao"></div>
	<form method="post" id="deleteForm">
		<input type="hidden" name="_method" value="delete">
		<div class="remove" id="removeProv">
		   <div class="removerChid">
			   <h2>提示</h2>
			   <div class="removeMain" >
				   <p>你确定要删除吗？</p>
				   <a href="#" id="yes">确定</a>
				   <a href="#" id="no">取消</a>
			   </div>
		   </div>
		</div>
	</form>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>


<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>
<script th:src="@{/js/js.js}" src="../js/js.js"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>